body {
    font-family: Arial;
    background: #f1f1f1;
    margin: 0;
}

.header {
    padding: 40px;
    text-align: center;
  
}

    .header h1 {
        font-size: 70px;
        color: white;
        text-shadow: 1px 1px 8px whitesmoke;
        font-family: Aharoni;
    }

ul {
    font-family: 'Comic Sans MS';
    font-size: 24px;
    list-style-type: none;
    margin: 0px;
    padding: 0;
    background-color: white;
    overflow: hidden;
    border-bottom: 1px solid black;
}

li {
    float: left;
    border-right: 1px solid #bbb;
}

    li a {
        display: block;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

        li a:hover:not(.active) {
            background-color: black;
            color: white;
        }

        li a.active {
            color: black;
            background-color: darkgray;
        }

    li.dropdown:last-child {
        border-right: none;
        float: right;
        border-left: 1px solid #bbb;
    }

.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 111px;
    z-index: 1;
}
    .dropdown-content a:hover {
        background-color: dimgray;
    }
    .dropdown-content a {
        border-top: 1px solid #bbb;
        color: white;
        margin: 0;
        padding: 7px 5px;
        text-decoration: none;
        display: block;
        text-align: left;
        font-size: 16px;
    }
.dropdown:hover .dropdown-content {
    display: block;
}
.leftcolumn {
    float: left;
    width: 65%;
    padding-left: 20px;
}

.rightcolumn {
    float: left;
    width: 34%;
    padding-left: 20px;
}

#img-Me {
    background-color: #aaa;
    width: 50%;
    height: 50%;
    cursor: pointer;
}
.img-Me {
    background-color: #aaa;
    width: 50%;
    height: 50%;
    cursor:pointer;
}
#img-Family {
    background-color: #aaa;
    width: 40%;
    height: 40%;
}
.img-corona-time {
    background-color: #aaa;
    width: 15%;
    
}

.card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    font-size: 20px;
  
}

.contact {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
.hr1 {
    display: block;
    margin-top: 85%;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    width: 70%;
} 